.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: 'center';
  justify-content: 'center';
  height: 100vh;
}

.container__channels {
  flex: 2;
  background-color: blue;
}

.container__chat {
  display: flex;
  flex-direction: column;
  flex: 8;
}

.container__chat--messages {
  flex: 9;
  background-color: pink;
}

.container__chat--sendBox {
  flex: 1;
  background-color: cyan;
}
