.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100vh;
  text-align: center;
}

.container__channels {
  flex: 2;
  background-color: #2f3e4d;
  text-align: left;
  height: 100vh;
  overflow: auto;
}

.container__channels__containerTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.container__channels__title {
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.container__channels__button {
  padding: 0;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: initial;
  border: 2px solid white;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}

.container__channels__button__icon {
  color: white;
  font-size: 18px;
}

.container__channels__list {
  list-style: none;
  padding-left: 0;
}

.container__channels__list__element {
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.container__channels__list__element:visited {
  color: white;
}

.container__channels__list__label {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.container__channels__list__label:hover {
  background-color: rgba(131, 127, 127, 0.637);
}

.container__modalCreateChannel {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #303e4d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__modalCreateChannel__contentContainer {
  width: 500px;
  height: 600px;
  background: #191d20;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container__modalCreateChannel__contentContainer__Header {
}

.container__modalCreateChannel__contentContainer__Header__title {
  color: white;
}

.container__modalCreateChannel__contentContainer__form {
}

.container__modalCreateChannel__contentContainer__form__input {
  border: 1px solid grey;
  border-right: none;
  padding: 10px;
  width: 100%;
}

.container__modalCreateChannel__contentContainer__form__btn {
  padding: 10px;
  border: 1px solid #2f3e4d;
  background-color: #2f3e4d;
  color: white;
  font-weight: bold;
}
