.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: 'center';
  justify-content: 'center';
  height: 100vh;
  text-align: center;
}

.container__channels {
  flex: 2;
  background-color: rgb(255, 174, 0);
}
