.container__chat {
  display: flex;
  flex-direction: column;
  flex: 9;
  height: 100vh;
}

.container__chat__messages {
  flex: 9;
  background-color: #191d20;
  color: white;
  overflow: auto;
}

.container__message {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.username__message {
  align-items: center;
  display: flex;
  margin: 0;
}

.username {
  font-weight: bold;
}

.hour {
  margin-left: 5px;
}

.content_message {
  margin: 0;
}

.update__delete__container {
  display: flex;
}

.update__message {
  margin: 0;
}

.container__chat__sendBox {
  flex: 1;
}

.form__chat__sendbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

.input__chat__sendbox {
  border: 1px solid grey;
  border-right: none;
  padding: 10px;
  width: 100%;
}

.button__chat__sendbox {
  padding: 10px;
  border: 1px solid #2f3e4d;
  background-color: #2f3e4d;
  color: white;
  font-weight: bold;
}
