.container__chat {
  display: flex;
  flex-direction: column;
  flex: 9;
}

.container__chat__messages {
  flex: 9;
  background-color: #191d20;
  color: white;
}

.container__chat__sendBox {
  flex: 1;
  background-color: cyan;
}
