.container__chat {
  display: flex;
  flex-direction: column;
  flex: 8;
  background-color: green;
}

.container__chat--messages {
  flex: 9;
  background-color: pink;
}

.container__chat--sendBox {
  flex: 1;
  background-color: cyan;
}
